* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'inter', sans-serif;
}

section {
    background: no-repeat center cover;
    min-height: 100vh;
    position: relative;
}

#main {
    background-image: url(img/bgMAIN.png);
}

#about {
    background-image: url(img/bgABOUT.png);
}

#skills {
    background-image: url(img/bgSKILLS.png);
}

#works {
    background-image: url(img/bgWORKS.png);
}

#comments {
    background-image: url(img/bgCOMMENTS.png);
}

#blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.maskot {
    position: absolute;
    top: -118px;
    left: 50%;
    transform: translateX(-50%);
}

.main-block {
    flex-direction: column;
    height: 100vh;
}

.main-content {
    background-image: url(img/form1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 849px;
    height: 223px;
    position: relative;
}


.main-title {
    padding-top: 67px;
    color: #2B2D35;
    font-size: 80px;
}

.main-subtitle {
    color: #2B2D35;
    font-size: 20px;
    font-family: 'Comfortaa';
}

#button {
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid #000;
    background: #BBFF2C;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
    transition-duration: 0.3s;
}

#button a {
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

#button:hover {
    background-color: #78ae04;
}

.napis {
    padding-left: 30px;
}

.moving-planet {
    background: url(img/moving-planet.png) no-repeat;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation-name: move-planet;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-planet {
    from {
        transform: translateY(0px)
    }

    to {
        transform: translateY(70px)
    }
}

.title {
    padding-top: 100px;
    text-align: center;
    color: #FFF;
    font-size: 80px;
    text-shadow: 5px 5px 0 #000000;
}

.about-content {
    /* width: 35%;
    height: 270px; */
    padding-block: 40px;
    /* padding-inline создаёт падинг в право и лево */
    background: #792AFF;
    padding-left: 40px;
    position: relative;
    display: flex;
}

.about-title {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: 'Comfortaa';
}

.skills-card {
    background-image: url(img/form3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding-left: 10px;
}

.skills-card p {
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: 'Comfortaa';
}

.moving-planet2 {
    background: url(img/moving-planet2.png) no-repeat;
    width: 180px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 50px;
    left: 1px;
    animation-name: move-planet;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#works-title {
    position: static;
    /* top: -300px; */
    padding-bottom: 100px;
}

#imgs {
    display: flex;
    gap: 20px;
    /* text-align: center; */
}

#umg {
    margin: 0 20px;
    width: 28%;
    box-shadow:
        8px 8px 0 #000000;
}

#comments-title {
    padding-bottom: 100px;
}

.comments-block {
    max-width: 1150px;
    margin: auto;
    display: flex;
    gap: 6px;
}

.comment-card {
    background-image: url(img/card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.comment-card h3 {
    font-size: 18px;
    font-family: 'Comfortaa';
    padding: 10px;
}

.comment-card p {
    font-size: 14px;
    font-family: 'Comfortaa';
    padding: 10px 20px;
    text-align: center;
}

.comment {
    background-image: url(img/comment.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    width: 327px;
    height: 161px;
    padding-inline: 26px;
    padding-block: 6px;
}

.comment p {
    font-family: 'Comfortaa';
    font-size: 20px;
    max-width: 250px;
    display: flex;
    padding-block: 6px;
    padding-inline: 26px;
}

/* LOL */
footer {
    /* я тут  */
    background-color: #200153;
    height: 112px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.footer-info p {
    font-family: 'Comfortaa';
    padding-bottom: 4px;
}

.footer-year p {
    font-family: 'Comfortaa';
    position: absolute;
    right: 50%;
    bottom: none;
}

.footer-links {
    margin-right: 16px;
    flex-direction: none;
}

/* .swiper {
    width: 600px;
    height: 300px;
} */
.logo {
    color: #BBFF2C;
    font-size: 80px;
    padding-left: 50px;
    position: relative;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #200153;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

nav {

    /* чтобы не валялись где-то в попе мира */
    .nav-links {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        padding-right: 150px;

        .nav-link {
            width: 112px;
            height: 40px;
            border-radius: 12px;
            border: 2px solid #000;
            background-color: #FFF;
            text-decoration: none;
            color: #000;
            font-size: 20px;
            font-family: 'Comfortaa';
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            transition: 1.25;

            &:hover {
                background-color: #7aa61c;
            }
        }
    }



}

.active {
    background-color: #BBFF2C !important;
}

.mobile-button {
    /* FIRE IN THE HOLE!!! */
    display: none;
    padding-top: 10px;
    width: 40px;
    position: absolute;
    right: 20px;
}

.hide {
    display: none;
}

.mobile-menu {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    background-color: #200153;
    min-height: 100vh;
}

.mobile-nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav-links .nav-link {
    margin-bottom: 30px;
    width: 210px;
    height: 50px;
}
.off-scroll{
    overflow: hidden;
}

@media (max-width: 1000px) {
    .mobile-button {
        display: block;
    }
}

@media (width <=1000px) {
    nav {
        display: none;
    }

    .logo {
        font-size: 40px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .main-content {
        max-width: 320px;
    }

    .main-title {
        padding-top: 30px;
        font-size: 30px;
    }

    .main-subtitle {
        font-size: 15px;
    }

    .moving-planet .moving-planet2 {
        display: none;
    }

    .title {
        font-size: 50px;
        padding-top: 30px;
    }

    .about-block {
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }

    .about-card {
        order: -1;
        background-size: contain;
        padding-top: 20px;
        width: 326px;
        height: 296px;
    }

    .about-card img {
        width: 85%;
    }

    .about-content {
        width: 75%;
        height: 250px;
        margin-bottom: 20px;
    }

    .about-title {
        font-size: 18px;
    }

    .skills-card {
        margin: 20px;
        padding-left: 10px;
        background-size: contain;
    }

    .skills-card p {
        font-size: 16px;
        margin-top: 15%;
        margin-bottom: 20px;
    }

    .skills-section {
        min-height: 60vh;
    }

    .skills-card .button {
        position: absolute;
        bottom: 100px;
    }

    .works-block {
        flex-direction: column;
        padding: 20px 0;
    }

    .works-block img {
        margin: 20px 0;
        width: 80%;
    }

    .comments-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding-top: 50px;
    }

    .comment {
        border: 2px solid black;
        background: white;
        border-radius: 8px;
    }

    .comment p {
        font-size: 15px;
        max-width: 290px;
    }

    #comments {
        padding-bottom: 20px;
    }
}