<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/tracking.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title href="img/css.png">stronka</title>
</head>

<body>
    <header>
        <div class="header-content">
            <h1 class="logo">MЧ</h1>
            <div class="mobile-button">
                <img src="img/mobile_menu.png" width="40">
            </div>
            <div class="mobile-menu hide">
                <div class="mobile-nav">
                    <div class="mobile-nav-links">
                        <a class="mobile-link" href="#main">
                            Główna</a>
                        <a class="mobile-link" href="#about">
                            O mnie</a>
                        <a class="mobile-link" href="#skills">
                            Co umiem</a>
                        <a class="mobile-link" href="#works">
                            Pracy</a>
                        <a class="mobile-link" href="#comments">
                            Opinie</a>
                        <a class="mobile-link russian" href="none">
                            Русская версия
                        </a>
                    </div>
                </div>
            </div>
            <nav>
                <div class="nav-links">
                    <a class="nav-link main-link active" href="#main">Główna</a>
                    <a class="nav-link about-link" href="#about">O mnie</a>
                    <a class="nav-link skills-link" href="#skills">Co umiem</a>
                    <a class="nav-link works-link " href="#works">Pracy</a>
                    <a class="nav-link comments-link" idhref="#comments">Opinie</a>
                </div>
            </nav>
        </div>
    </header>
    <section id="main">
        <div id="blocks" class="block">
            <div class="main-content">
                <img src="img/maskot.png" class="maskot" width="125">
                <div class="napis">
                    <h1 class="main-title">
                        MAKSIM CZIPS!
                    </h1>
                    <p class="main-subtitle">
                        Strona osobista czipsa
                    </p>
                </div>
            </div>
            <div id="button">
                <a href="#">Więcej</a>
            </div>
        </div>
        <div class="moving-planet">
        </div>
    </section>
    <section id="about">
        <div id="blocks" class="about-block">
            <h2 class="title">Обо мне</h2>
            <div class="about-content">
                <div class="about-text">
                    <p class="about-title"> Меня зовут Максим. Я занимаюсь разработкой современных сайтов и приложений.
                        <br><br> Мне нравится создавать интересные и современные проекты.
                    </p>
                    <div id="button">
                        <a href="#">Мои навыки</a>
                    </div>
                </div>
                <div class="about-card">
                    <img src="img/IMG_7851.jpg" class="about-img">
                    <p>Где живу: Варшава</p>
                    <p>Возраст: 12</p>
                    <p>Дата рождения: 2011</p>
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <div id="blocks" class="skills-block">
            <h2 class="title" id="skills-block-title">
                НАВЫКИ
            </h2>
            <div class="skills-content">
                <div class="skills-card">
                    <p>ЭТОТ САЙТ Я СДЕЛАЛ
                        В РАМКАХ ОБУЧЕНИЯ ШКОЛЫ RTS</p>
                    <div id="languages">
                        <img src="img/html.png" alt="HTML" width="70">
                        <img src="img/css.png" alt="CSS" width="70">
                        <img src="img/js.png" alt="JS" width="70">
                    </div>
                    <div id="button">
                        <a href="#">Смотреть роботы</a>
                    </div>
                </div>
            </div>
            <div class="moving-planet2">
            </div>
        </div>
        </div>
    </section>
    <section id="works">
        <h2 class="title" id="works-title"> РАБОТЫ</h2>
        <div id="blocks" class="works-block">
            <div id="imgs">
                <img src="img/work1.png" alt="web-site-Pets" id='umg'>
                <img src="img/work2.png" alt="web-site-Mine" id='umg'>
                <img src="img/work3.png" alt="web-site-Genshin" id='umg'>
            </div>
        </div>
    </section>
    <section id="comments">
        <h2 class="title" id="comments-title">
            ОТЗЫВЫ
        </h2>
        <div id="blocks" class="comments-block">
            <div class="comments-block">
                <div class="comment-card">
                    <img src="img/photo1.png">
                    <h3>Владимир</h3>
                    <p>Основатель Rocket Tech School</p>
                </div>
                <div class="comment">
                    Этoт мальчик проходил обучение веб разработке много месяцев, и уже создает сложные сайты!
                </div>
                <div class="comment-card">
                    <img src="img/photo2.png">
                    <h3>Диана</h3>
                    <p>Product lead Rocket Tech School</p>
                </div>
                <div class="comment">
                    Очень хорошо пишет код. Отличная оптимизация сайта. Современно, стильно, молодежно!
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-info">
            <p>МАКСИМ ЧИПС</p>
            <p>Личный сайт веб разработчика</p>
        </div>
        <div class="footer-year">
            <p>© 2024</p>
            <div class="footer-links">
                <a href="#"> <img src="img/facebook.svg"> </a>
                <a href="#"> <img src="img/instagram.svg"> </a>
                <a href="#"> <img src="img/telegram.svg"> </a>
                <a href="#"> <img src="img/discord.svg"> </a>
            </div>
        </div>
    </footer>

</body>
<script src="main.js"></script>

</html>